<div class="row">
    <div class="col-xs-12">
        <h1>Hi.</h1>
        <img src="/images/me.jpg" alt="A picture of a person" class="img-responsive imgLimit">
        <img src="/images/me2.jpg" alt="A picture of a person" class="img-responsive imgLimit">
        <img src="/images/me3.jpg" alt="A picture of a person" class="img-responsive imgLimit">
        <h2>I'm Michael, MEAN stack JavaScript dev in the making.</h2>
    </div>
    <div class="col-lg-6 bio">
        <h3>As a developer</h3>
        <p >I've been exposed to computer programming since the age of 4, when my C++ dev grandfather decided to gift my brother and I with his speed-demon Zenith 8086 desktop complete with 8kb of ram. The moment I found BASIC, I was hooked. I had a blast writing as many games as my generous 1mb hard disk would contain. While I've dabbled in other interests off and on throughout the years, my deep love for computing and technology has never been shaken. In 2015, I decided to finally pursue a career in the software development field, and I'm having an absolute blast.<br><br>
        As a developer, I'm quickly finding myself drawn to minimalist practices and aesthetics. I see a great deal of beauty in simplicity, and I'm always moved by the artistry exibited in creating an elegant and functional web app using minimal resources, therby ensuring the smoothest experience for the greatest number of users. However, I've been known to go over the top when an occasion calls for it...programming is a (very fun) art form, and I try not to take myself too seriously.
         </p>
    </div>
    <div class="col-lg-6 bio">
        <h3>As a human</h3>
        <p>I was born and raised in North Seattle, WA. I moved to Los Angeles, CA at 18, where I completed my BA in theology at Life Pacific College. I'm currently wrapping up a Full-Stack Development Intensive through V School in Provo, UT, after which I plan to pursue my Masters in Software Engineering through Harvard Extension School. I really like to learn stuff. <br><br>
        In addition to my passion for new technology, I have an obsessive relationship with music. I am a singer/songwriter actively involved in a number of varied projects. My other interests include fashion, motorcycles, BMWs and other luxury cars, and good beer (IPAs primarily, though I've been known to put back a 40 or two in my time).<br><br>
        My idea situation would be one in which I can work with location flexibility, so that I can split my time between LA, Seattle, and wherever the adventure leads. I love people, I love new experiences, I'm generally just pretty pumped on life.
        </p>
    </div>
    <div><h2><a>Your turn to share, why don't you say hello?</a></h2></div>
</div>
