<div class="col-lg-3 contact"></div>
<div class="col-lg-6 contact">
    <h1>So...what's up?</h1>
    <h3>If you'd like to talk, chances are, I would too. You can reach me on any of the following platforms:</h3><br>
    <a href="http://twitter.com/dmichaelglenn" title="Twitter"><img src="/images/twitter.png"></a>
    <a href="http://facebook.com/dmichaelglenn"><img src="/images/facebook.png" title="Facebook"></a>
    <a href="mailto:dmichaelglenn@gmail.com"><img src="/images/gmail.png" title="Email"></a>
    <a href="http://linkedin.com/in/dmichaelglenn" title="LinkedIn"><img src="/images/linkedin.png"></a>
    <a href="skype:dmichaelglenn?chat" title="Skype"><img src="/images/skype.png"></a><br>
    <h3>Or, if you prefer to keep it a little more old school...<h3>
        <h4>phone: 909-374-7295</h4>
        <h4>email: dmichaelglenn@gmail.com</h4>
</div>
<div class="col-lg-3 contact"></div>
