<div class="row">
    <div class="col-lg-6 portfolioDisplay">
        <img class="img-responsive" src="/images/ididntmakethis.png" alt="I made this amazing thing">
        <h3>I built Facebook</h3>
    </div>
    <div class="col-lg-6 portfolioDisplay">
        <img class="img-responsive" src="/images/ididntmakethis.png" alt="I made this amazing thing">
        <h3>I built Facebook</h3>
    </div>
    <div class="col-lg-6 portfolioDisplay">
        <img class="img-responsive" src="/images/ididntmakethis.png" alt="I made this amazing thing">
        <h3>I built Facebook</h3>
    </div>
    <div class="col-lg-6 portfolioDisplay">
        <img class="img-responsive" src="/images/ididntmakethis.png" alt="I made this amazing thing">
        <h3>I built Facebook</h3>
    </div>
    <h1>See more on my <a href="https://github.com/dmichaelglenn">GitHub</a></h1>
</div>
